@import '../../../styles/styles';

@include input();

:host {
  position: relative;
}

.input {
  @include position(absolute, 0);
  cursor: pointer;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  border-radius: calc(var(--base-size) / 2);
  height: auto;
  width: 100%;
}
